.sidebar {
  height: 100vh;
}
.sidebar-notes {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 15%;
}

@media (max-width: 768px) {
  .sidebar {
    height: 80vh;
    border-bottom: 1px sol;
    width: 100%;
  }
  .sidebar-notes {
    height: 57vh;
    padding-bottom: 20%;
  }
  .sidebar-tag {
    display: none;
  }
}
